@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

html{
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.7em;
    text-indent: 1em;
}
header{
    text-align: center;
    margin: 10px;
}
menu{
    display: none;
}
h1{
    text-align: center;
}
main{
    text-align: justify;
}

article::after{
    content: "Artigo impresso através do site www.comunicacaotabajara.com.br/esportes";
}
