@charset "UTF-8";
@font-face {
    font-family: 'coolvetica';
    src: url('fontes/coolvetica.otf')format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'android';
    src: url('fontes/idroid.otf')format('opentype');
    font-weight: normal;
    font-style: normal;
}

body{
    background-color: #84E1AD;
    margin: 0;
    padding: 0;
}
header{
    height: 141px;
    width: auto;
    background-image: linear-gradient(to bottom, #30a866, #134429);
    margin:auto;
    padding: 0;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.479);
}
header > h1{
    margin: 0;
    font-size: 3em;
    font-family: 'coolvetica';
    color: white;
    text-align: center;
}
header > p{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    width: 420px;
    text-align: center;
    margin: 10px auto;
}
nav > a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    margin: 0 0 0 5px;
    border-radius: 3px;
    
}
nav > a:hover{
    color: #134429;
    background-color: #84E1AD;
}
main{
    background-color: white;
    margin: auto;
    width: 850px;
    padding: 10px;
    
}
main > h1{
    margin: 0;
    font-family: 'android';
    color: #134429;
    padding-top: 10px;
}
strong{
    color: #134429;
    
}
h2{
    font-family: 'android';
    color: #134429;
    background-image: linear-gradient(to right,  #30a86667, white );
    padding-left: 5px;
}
p{
    text-align: justify;
    text-indent: 20px;
    font-family: 'Arial, Helvetica, sans-serif';
}
p > a{
    text-decoration: none;
    font-weight: bold;
    color: #134429;
    background-color: #30a86694;
}
p > a:hover{
    text-decoration: underline;
}
#android{
    display: block;
    margin: auto;
    margin: 10px auto 10px auto;
}
#irina{
    display: block;
    margin: auto;
    margin: 10px auto 10px auto;
}
#bugdroid{
    display: block;
    margin: auto;
    margin: 10px auto 10px auto;
}
.video{
    background-color: #134429;
    margin: auto;
    width: 830px;
    padding: 20px;
}
.extra{
    background-color: white;
    margin: auto;
    width: 850px;
    padding: 10px;
    border-radius: 0 0 10px 10px;
}
#links{
    background-color: #30a866;
    height: 20px;
    padding: 10px;
    margin-bottom:0 ;
    border-radius: 10px 10px 0 0 ;
}
#links > p {
    text-align: left;
    margin: 0;
}
aside{
    background-color: #65a883a2;
    border-radius: 0 0 10px 10px;
    margin-top: 0;
    padding: 10px;

}
aside > p{
    margin: 0;
}
ul > li{
    list-style: none;
}
ul > li::before{
  
    content: "✓ ";
    font-weight: bold;
}
#listone{
    float: left;
    margin-right: 200px;
}

footer{
    background-color:#134429;
}
footer > p {
    text-align: center;
    color: white;
    padding: 5px;
}
footer > p > strong{
    color: white;

}