@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
    font-family: 'android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
*{
    margin: 0; 
    padding: 0;
}
/* como criar uma variavel para facilitar o trabalho, podendo padronizar cores, fonts*/
:root{
    --cor00: #c5ebd6;
    --cor01: #83e1ad;
    --cor02: #3ddc84;
    --cor03: #2fa866;
    --cor04: #1a5c37;
    --cor05: #063d1e;

    --font-padrao: arial, verdana, helvetica, sans-serif;
    --font-destaque: 'Bebas Neue', cursive;
    --font-android: android, cursive;

}
body{
    background-color: var(--cor00); 
    font-family: var(--font-padrao);
}
a.externo::after{
    content: '\00A0\1F517\00A0';
}
header{
    background-image:linear-gradient(to bottom, var(--cor03), var(--cor05));
    min-height: 150px ;
    text-align: center;
    padding-top: 40px;
}
header > h1{
    color: white;
    font-size: 3em;
    font-family: var(--font-destaque);
    padding-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.411);
    
}
header > p{
    color: white;
    font-size: 1.2em;
    max-width: 500px;
    margin: auto;
    padding: 5px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.411);
}
nav{
    background-color: var(--cor05);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.336);
}
nav a{
    color: white;
    padding: 10px;
    font-weight: bold;
    text-decoration: none;
    border-radius:5px;
    transition-duration: .3s;
}
nav a:hover{
    background-color: var(--cor01);
    color: var(--cor05);
    font-weight: bold;
}
main{
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 0 0 10px 10px;
    padding: 10px;
}
main img{
    width: 100%;
}
main img.pequena{
    max-width: 350px;
    margin: auto;
    display: block;
}
main p{
    text-indent: 20px;
    margin: 15px 0 15px 0;
    text-align: justify;
    line-height: 1.5em;
}
main > h1 {
    color: var(--cor05);
    font-family: var(--font-android);
}
main h2{
    font-family: var(--font-android);
    color: var(--cor05);
    background-image: linear-gradient(to right, var(--cor03), transparent);
    
}
main strong{
    color: var(--cor04)
}
main a{
    color: var(--cor05);
    background-color: var(--cor03);
    font-weight: bold;
    text-decoration: none;
}
main a:hover{
    color: var(--cor04);
    text-decoration: underline;
}
footer{
    background-color: var(--cor05);
    color: white;
    text-align: center;
}
div.video{
    background-color: var(--cor04);
    margin: 0 -10px 30px -10px;
    padding: 20px;
    position: relative;
    padding-bottom: 55.25%;
    
}
div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
aside{
    background-color: var(--cor01);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.411);
}
aside h3{
    color: white;
    background-color: var(--cor04);
    margin: -10px -10px 0 -10px;
    border-radius: 10px 10px 0 0;
    padding: 10px;
}
aside ul{
    list-style-type: '\2714\00A0';
    list-style-position: inside;
    columns: 2;

}
footer a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: .8em;
}
footer a:hover{
    text-decoration: underline;
    color: #83e1ad;
}