@charset "UTF-8";
/* todas as midias */

/* 
Typical Device Brackpoints
___________________________
Pequenas telas: até 600px
Smartphones: de 600px até 768px
Tablets: 769px até 992px
Computadores: 993px até 1200px
Telas grandes:acima de 1200px
*/

@media print
 {
    body{
        background-image: url(../imagens/back-print.jpg);
    }
    main{
        border: 2px solid black;
    }
    main h1{     
        width: 90vw;
        font-family: 'Courier New', Courier, monospace;
        color: black;
    }
    main::after{
        content: "Documento impresso em www.victorcarpinteiro.com.br";
        
    }
    img#phone{display: none;}
    img#tablet{display: none;}
    img#print{display: block;}
    img#pc{display: none;}
    img#tv{display: none;}
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    body{
        background-image: url(../imagens/back-tablet.jpg);
    }
    img#phone{display: none;}
    img#tablet{display: block;}
    img#print{display: none;}
    img#pc{display: none;}
    img#tv{display: none;}
}

@media screen and (min-width:993px) and (max-width: 1200px) {
    body{
        background-image: url(../imagens/back-pc.jpg);
    }
    img#phone{display: none;}
    img#tablet{display: none;}
    img#print{display: none;}
    img#pc{display: block;}
    img#tv{display: none;}
}

@media screen and (min-width: 1201px) {
    body{
        background-image: url(../imagens/back-tv.jpg);
    }
    img#phone{display: none;}
    img#tablet{display: none;}
    img#print{display: none;}
    img#pc{display: none;}
    img#tv{display: block;}
    
}